<div class='user-container'>
  <div class="user-intro"> 
    <div class="user-img">
      <img src="<%= @user.photo %>" alt="user photo">
    </div>

    <div class="user-info">
      <h2><%= @user.name %></h2>
      <h3>Number of Posts: <%= @user.posts_counter %></h3>
    </div>
  </div>
</div>

<h1>New Posts</h1>

<div class="new-post">
  <%= link_to 'Add a new post', new_user_post_path(user_id: @user.id) %>
</div>

<div class="user-posts">
  <h2>Posts</h2>
  <% @user.posts.each do |post| %>
    <div class="post">
      <h3><%= link_to post.title, user_post_path(@user, post) %></h3>
      <p><%= post.text %></p>
      <div class="likes_comments">
        <span>Likes: <%= post.likes_counter %></span><br/>
        <span>Comments: <%= post.comments_counter %></span>
      </div>

      <div class="user-comments">
        <h2>Comments</h2>
        <% post.most_recent_comments(5).each do |comment| %>
          <div class="comment">
            <p>Username: <%= comment.Text %></p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= link_to 'Pagination', user_posts_path(@user), class: 'button' %>
</div>