<div class="post-page">
  <div class="post">
    <h3><%= @post.title %> by <%= @user.name %></h3>
    <p><%= @post.text %></p>
    <div class="likes_comments">
      <span>Likes: <%= @post.likes_counter %></span><br/>
      <span>Comments: <%= @post.comments_counter %></span>
    </div>

    <div class="user-comments">
      <h2>Comments</h2>
      <% @post.comments.each do |comment| %>
        <div class="comment">
          <p>Username: <%= comment.Text %></p>
        </div>
      <% end %>
    </div>

    <div class="new-comment-like">
      <%= form_with model: @like, url:user_post_likes_path(post_id: @post.id) do |like| %>
        <%= like.submit  "Like", class:"new-post-btn submit-btn"%>
      <% end %>
  
      <%= link_to 'Add A New comment', new_user_post_comment_path(user_id: @post.author_id, post_id: @post.id), class: 'submit-btn' %>
    </div>
  </div>
</div>